* {
  font-family:consolas;
  background-color:black;
  color:white;
}
input, button, select{
  border:2px solid grey;
  border-radius:1em;
  padding:0.2em 1em;
}
button#creation-button{
  border-color:grey;
  color:black;
  background-color:lightgrey;
}
input{
  border-bottom-color:cyan;
}
select{
  border-color:pink;
}
hr{
  background-color:grey;
  height:1px;
  border:none;
}
span.item{
  padding-right:4em;
}
